layout {
    cwd "$CHORUS_GIT_ROOT"
    pane split_direction="vertical" {
        pane command="$CHORUS_COMMAND"
        pane split_direction="horizontal" {
            pane edit="."
            pane
            pane
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
}